body{
  background-color: rgba(233,233,233);
}

h1, h2 {
  font-family: Lato;
}

.cross{
  position: relative;
}
.cross::after{
  content: "";
  position: absolute;
  width: 500px;
  height: 1px;
  background-color: red;
  top: 10px;
  left: 10px;
  transform-origin: left;
  transform: rotate(45deg);
}

.cross img{
  opacity: 0.5;
}